export(allSameID)
export(batchRemove)
export(calculateES)
export(createObjectMA)
export(elementObjectMA)
export(dataLog)
export(downloadGEOData)
export(heterogeneityTest)
export(makeHeatmap)
export(metaAnalysisDE)
export(pvalueIndAnalysis)
export(seeCov)
import(DExMAdata)
import(stats)
import(Biobase)
import(limma)
import(sva)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("methods", "is")
importFrom("scales", "rescale")
importFrom("pheatmap","pheatmap")
importFrom("swamp", "prince", "prince.plot")
importFrom("GEOquery", "getGEO")
importFrom("impute", "impute.knn")
importFrom("plyr", "rbind.fill.matrix")
importFrom("snpStats", "qq.chisq")
importFrom("stats", "median", "model.matrix", "p.adjust", "pbeta",
            "pchisq", "pnorm", "qbeta", "qnorm", "quantile", "sd")
